/*----------------------------------
            " Font Style "
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* -------------------------------
        " Common Style "
--------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header-width {
  width: 1163px;
  margin: auto;
}
img {
  width: 100%;
}
/*-------------------------------------
       " Header-Part "  
 ------------------------------------*/
.header {
  background-color: #2d25a0;
  height: 677px;
  margin-bottom: 70px;
}
.header-menu-top {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
 
}

.header-menu-top-left ul {
padding-left: 0;
  margin-top: 0;
}
.header-menu-top-left ul li{
  display: inline-block;
}
.header-menu-top-left ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-right: 36px;

}
.header-menu-top-left ul li a.first {
  width: 48px;
  /* height: 24px; */
}
.header-menu-top-left ul li a.second {
  width: 46px;
  /* height: 24px; */
}
.header-menu-top-left ul li a.third {
  width: 128px;
  /* height: 24px; */
}
.header-menu-top-left ul li a.four {
  width: 158px;
  /* height: 24px; */
}
.header-menu-top-left ul li a.five {
  width: 66px;
  /* height: 24px; */
}
/* .header-menu-top-right {
  text-align: right;
} */
.header-menu-top-right{
  text-align: right !important;
}
.header-menu-top-right a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #e02c6d;
  width: 123px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  /* margin-right: 121px;
  margin-left: 450px; */
}
.header-menu-top-right a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: black;
}
/* ----------------------------------------------
header Bottom 
------------------------------------------- */
.header-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 1163px;
}

.header-bottom-left-content {
  margin-bottom: 27px;
  margin-right: 102px;
  margin-top: 121px;
}
.header-bottom-left-content h1 {
  font-size: 64px;
  font-weight: 700;
  width: 490px;
  height: 230px;
  color: #fff;
}
.header-bottom-right {
  /* margin-left: 102px; */
  margin-bottom: 86px;
  margin-top: 67px;
  /* margin-right: 140px; */
}
.header-bottom-right-image img {
  width: 556.01px;
  height: 438px;
  transition: 0.3s;
  cursor: pointer;
}
.header-bottom-right-image:hover img {
  transform: scale(1.2);
  transition: transform 0.7s ease-in-out;
}
.header-bottom-left-bottom-btn a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  border: 0;
  padding: 10px, 24px, 10px, 24px;
  text-align: center;
  line-height: 40px;
  margin-top: 27px;
  margin-bottom: 169px;
  margin-right: 419px;
}
.header-bottom-left-bottom-btn a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: black;
}
/* -------------------------------------
           " Player Team "
---------------------------------------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1163px;
  margin: auto;
  grid-column-gap: 30px;

  
 
}
.player {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  
  padding: 15px;
}
.player-image {
  
  text-align: center;
}


.player-info h2 {
  font-size: 28px;
  font-weight: 700;

}
.player-info p {
  font-size: 16px;
  font-weight: 400;

}
.team-top {
  margin-top: 27px;
}
/*-------------------------------
        Gallery
------------------------------  */
.Gallary-teams {
  margin-top: 100px;
  /* width: 1163px;
  margin: auto; */
}
.Gallary-teams h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: #2d25a0;
}
.gallery-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1163px;
  margin: auto;
  grid-column-gap: 30px;
  /* text-align: center; */
}
.team {
  margin-bottom: 20px;
}

/* ---------------------------------
            HighLIghts Section
----------------------------------- */
.highlights {
  display: flex;

  align-items: center;

  width: 1163px;
  margin: auto;
  margin-top: 100px;
}

.highlights-left h2 {
  font-size: 48px;

}
.highlights-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
 
}
.highlights-left a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #e02c6d;
  width: 140px;
  height: 44px;
  text-align: center;
  line-height: 40px;
}
.highlights-left a:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: black;
}

/* --------------------------------
    Football - Career 
--------------------------------- */
.football-career {
  padding-top: 80px;
  
}
.football-career-info {
  background-color: #2d25a0;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}
.football-career-inner-info {
  text-align: center;
}
.football-career-inner-info h3 {
  color: #faed7b;
  font-size: 28px;
}
.football-career-inner-info p {
  color: #a789ff;
  font-size: 1.33333333rem;
  line-height: 1.25;
}
.football-career-inner-info a {
  background-color: #faed7b;
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 14px 60px;
  margin-top: 20px;
}
#read-more:hover {
  background-color: rgba(152, 139, 20, 0.8);
  color: #fff;
  transition: 0.4s;
}
/* --------------------------------------
              " Footer "
-------------------------------------- */
footer {
  
  margin-bottom: 63px;
  margin-top: 158px;
  text-align: center;
}
.footer-top-icon-image img {
  width: 483px;

}
.footer-mid-icon ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.footer-mid-icon ul li {
  display: inline-block;
}
.footer-mid-icon ul li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #969bab;
}
.footer-bottom-title p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
